@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins&family=Roboto&display=swap');
:root{
    --color-light:#fff;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: start;
    padding-left: 0%;
}
.container{
    display: flex;
    overflow: hidden;
}
main{
    overflow: hidden;
}
aside{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    background: gray;
    border: #fff;
    border-color: black;
}
.user-logo {
    height: 180px;
    width: 150px;
}
.user-logo img{
    height: 180px;
    width: 150px;
    border: 1px double gray;
}
nav,ul{
    width: 100%;
    text-align: center;
}
li{
    list-style: none;
    padding: 15px 10px;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    transform: translateY(0px);
}
li:hover{
    letter-spacing: 1px;
    transform: rotateY(0px);
    color: var(--color-light);
    font-weight: 600;
}
li::before{
    content: "";
    background: orange;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    z-index: -1;
    transition: width 300ms ease-in-out;
}
li:hover::before{
    width: 100%;
}
.card{
    height: 723px;
    padding: 30px;
    display: none;
    width: 81.9vw;
    transform: translateX(-100%);
}
.card.active{
    display: block;
    animation: slide 500ms ease-in-out both;
}
.card .title{
    font-size: 2rem;
    border-bottom: 1px solid black;
}
.card .content{
    font-size: 1.5rem;
}
.alerts{
    background: orange;
}
.location{
    background: orange;
}
.recentoutbreaks{
    background: orange;
    height: 100%;
}
.selectedLink{
    background: linear-gradient(100deg, gray, orange);
    color: var(--color-light);
    font-weight: 600;
}
@keyframes slide{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
#map {
    width: 600px;
    height: 900px;
    display: flex;
    object-position: center;
}

.contentchart{
    width: 500px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}
#apopong,#baluan,#bawing,
#buayan,#bula,
#calumpang,#heights,
#conel,#east,
#north,#south,
#west,#fatima,
#katangawan,#labangal,
#lagao,#ligaya,
#mabuhay,#magsaysay,
#olympog,#san-isidro,
#san-jose,#siguel,
#sinawal,#tambler,#tinagacan {
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
    
}
