@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins&family=Roboto&display=swap");
:root {
  --color-light: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: start;
  padding-left: 0%;
  background-color: orange;
}
.container {
  display: flex;
  overflow: hidden;
}
main {
  overflow: hidden;
}
aside {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  background: gray;
  border: #fff;
  border-color: black;
}
.user-logo {
  height: 180px;
  width: 150px;
}
.user-logo img {
  height: 180px;
  width: 150px;
  border: 1px double gray;
}
nav,
ul {
  width: 100%;
  text-align: center;
}
li {
  list-style: none;
  padding: 15px 10px;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  transform: translateY(0px);
}
li:hover {
  letter-spacing: 1px;
  transform: rotateY(0px);
  color: var(--color-light);
  font-weight: 600;
}
li::before {
  content: "";
  background: orange;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  z-index: -1;
  transition: width 300ms ease-in-out;
}
li:hover::before {
  width: 100%;
}

.card {
  height: 723px;
  padding: 30px;
  display: none;
  width: 81.9vw;
  transform: translateX(-100%);
}
.card.active {
  display: block;
  animation: slide 500ms ease-in-out both;
}
.card .title {
  font-size: 2rem;
  border-bottom: 1px solid black;
}
.card .content {
  font-size: 1.5rem;
}

.location {
  background: orange;
  height: 100vh;
  width: 100%;
}
.recentoutbreaks {
  background: orange;
  height: 100%;
}
.selectedLink {
  background: linear-gradient(100deg, gray, orange);
  color: var(--color-light);
  font-weight: 600;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
#map {
  display: flex;
  width: 700px;
  height: 550px;
  border-color: black;
  border-radius: 10px;
  float: left;
  margin-top: 5px;
}

.title-alarm {
  background-color: red;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.alarms {
  float: left;
  margin-left: 20px;
  height: 550px;
  width: 375px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  overflow-y: auto;
}

.alarm-box {
  height: 125px;
  color: white;
  background-color: grey;
  width: 275px;
  border-radius: 10px;
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 45px;
  padding-left: 10px;
  padding-top: 30px;
}
.buttons {
  padding-top: 10px;
}

button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #111827;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 0.75rem;
  padding: 0.75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button:hover {
  background-color: #f9fafb;
}

button:focus {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: 2px;
}

button:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contentchart {
  width: 500px;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}
#apopong,
#baluan,
#bawing,
#buayan,
#bula,
#calumpang,
#heights,
#conel,
#east,
#north,
#south,
#west,
#fatima,
#katangawan,
#labangal,
#lagao,
#ligaya,
#mabuhay,
#magsaysay,
#olympog,
#san-isidro,
#san-jose,
#siguel,
#sinawal,
#tambler,
#tinagacan {
  background-color: white;
  border-radius: 20px;
  border-color: black;
  border-width: 5px;
}
